# django settings
aws_access_key_id:
aws_secret_access_key:
customerio_api_key:
customerio_site_id:
djangosherd_flickr_apikey:
mailchimp_api_key:
mailchimp_registration_list_id:
mandrill_api_key:
mandrill_username:
newrelic_license_key:
secret_key:
segmentio_api_key:
segmentio_js_key:
sentry_dsn:

# postgres config
postgres_user: mediathread
postgres_password: test

# s3 backups
s3_gpg_passphrase:
s3_backup_access_key:
s3_backup_secret_key:
