{% extends "base.html" %}
{% load compressed %}
{% load static from staticfiles %}

{% block extra_js %}
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
    {% compressed_js 'app' %}
    <script>
      apps = {{ apps|safe }};
    </script>
{% endblock extra_js %}


{% block js_templates %}
    <!-- Templates -->
    <script type="text/template" id="project_form_template">
      {% block extra_deployer_content %}{% endblock extra_deployer_content %}
      <div id="central-widget">
      <form class="form-deploy" method="post">
        {% block deployer_form %}
        {% endblock deployer_form %}
        <h4>Where can we send the URL?</h4>
        <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <input type="text" name="email" class="form-control" value="" id="email_input" placeholder="name@domain.com">
            </div>
            <span class="help-block"></span>
        </div>
        <button class="btn btn-success" type="submit">Launch demo site</button>
      </form>
      {% block form_extra_text %}{% endblock form_extra_text %}
      </div> 
    </script>

    <script type="text/template" id="deploy_status_template">
    <div id="central-widget">
      <div class="form-deploy">
        <img src="{% static "img/ajax-loader.gif" %}" alt="loader" class="spinner">
        <h3>Deploying <%= app_name %></h3>
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only">5% Complete</span>
          </div>
        </div>
        <div class="alert alert-info" id="info-message-section">
          <span class="glyphicon glyphicon-wrench"></span><span id="info-message"> Starting deployment...</span>
        </div>
        <p class="survey">
        <% if (survey_url !== '') { %>
          <a href="<%= survey_url %>" onclick="window.open(this.href,  null, 'height=1204, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Fill out</a> the survey while you're waiting!
        <% } %>
        </p>
      </div>
    </div>
    </script>
{% endblock js_templates %}