{% extends "deployment/deployer_base.html" %}
{% load compressed %}
{% load static from staticfiles %}

{% block deployer_form %}
{% verbatim %}
<h3 class="form-deploy-heading">Get your own <%= project.attributes.name %> site in minutes!</h3>
{% endverbatim %}
{% endblock deployer_form %}

{% block form_extra_text %}
<p class="embed-buttons-message"><small><a data-toggle="modal" href="#" data-target="#embed-buttons">Embed</a> the button on your website!</small></p>
{% endblock form_extra_text %}

{% block extra_deployer_content %}
  {% include "deployment/partials/_embed_buttons_modal.html" %}
{% endblock extra_deployer_content %}
